<p id="notice"><%= notice %></p>

<p>
  <b>Certification:</b>
  <%= @class_request.certification %>
</p>

<p>
  <b>From:</b>
  <%= @class_request.from %>
</p>

<p>
  <b>Time:</b>
  <%= @class_request.time %>
</p>

<p>
  <b>Notes:</b>
  <%= @class_request.notes %>
</p>


<%= link_to 'Edit', edit_class_request_path(@class_request) %> |
<%= link_to 'Back', class_requests_path %>
