<h1>Newsletters</h1>

<table>
  <tr>
		<th>Created</th>
    <th>Sent on</th>
		<% if permitted_to? :show %>
    	<th></th>
    	<th></th>
		<% end %>
  </tr>

<% @newsletters.each do |newsletter| %>
  <tr>
		<td><%= link_to newsletter.created_at.strftime( '%B %Y' ), view_newsletter_path( newsletter ) %></td>
    <td>
			<% unless newsletter.sent_on == nil %>
				<%= newsletter.sent_on %>
			<% else %>
				never
			<% end %>
		</td>
		<% if permitted_to? :show %>
    	<td><%= link_to 'Edit', newsletter %></td>
    	<td><%= link_to 'Destroy', newsletter, :confirm => 'Are you sure?', :method => :delete %></td>
		<% end %>
  </tr>
<% end %>
</table>

<% if permitted_to? :create %>
	<% content_for :pos2 do %>
		<div class="admin">
			<h1>Admin</h1>
			<%= link_to 'New Newsletter', newsletters_path, :method => :post %>
		</div>
	<% end %>
<% end %>