<h1><%= @newsletter.created_at.strftime( '%B %Y' ) %> Newsletter</h1>

<p>
  <b>Sent on:</b>
  <%= @newsletter.sent_on %>
</p>

<article>
	<% @newsletter.newsletter_sections.each do |section| %>
		<section>
			<header><h2><%= section.title %></h2></header>
			<% unless section.image_file_name.blank? %>
				<%= image_tag section.image.url(:default) %>
			<% end %>
			
			<%= raw(textilize( section.content )) %>
		</section>
	<% end %>
</article>

<%= link_to 'New Section', new_newsletter_newsletter_section_path(@newsletter) %> |
<%= link_to 'Reorder Sections', reorder_newsletter_newsletter_sections_path(@newsletter) %> |
<%= link_to 'Back', newsletters_path %>
