<h1><%= @newsletter.created_at.strftime( '%B %Y' ) %> Newsletter</h1>

<p>
  <b>Sent on:</b>
	<% unless @newsletter.sent_on == nil %>
  	<%= @newsletter.sent_on %>
	<% else %>
		never sent
	<% end %>
</p>

<article>
	<% @newsletter.newsletter_sections.each do |section| %>
		<section>
			<header><h2><%= section.title %></h2></header>
			<p>
				<% unless section.image_file_name.blank? %>
					<%= image_tag( section.image.url(:default), :class => 'image' ) %>
				<% end %>
			</p>
			<%= raw(textilize( section.content )) %>
			
			<p>
				<%= link_to 'Edit', edit_newsletter_newsletter_section_path(@newsletter,section) %>
				<%= link_to 'Destroy', [@newsletter,section], :method => :delete, :confirm => 'Are you sure?' %>
			</p>
		</section>
	<% end %>
</article>

<% content_for :pos2 do %>
	<div class="admin">
		<h1>Admin</h1>
		<%= link_to 'New Section', new_newsletter_newsletter_section_path(@newsletter) %>
		<%= link_to 'Reorder Sections', reorder_newsletter_newsletter_sections_path(@newsletter) %>
		<%= link_to 'Back', newsletters_path %>
	</div>
<% end %>

