<<<<<<< HEAD
<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Crypted password:</b>
  <%= @user.crypted_password %>
</p>

<p>
  <b>Password salt:</b>
  <%= @user.password_salt %>
</p>

<p>
  <b>Persistence token:</b>
  <%= @user.persistence_token %>
</p>


=======
<h1><%= @user.username %></h1>

<p>
  Role(s): 
  <%= @user.roles.map( ) {|role| role.name}.join(", ") %>
</p>

>>>>>>> classcode10062010
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
