<div class="narrow">
	<footer>
		<h1>Current Classes</h1>
		<ul>
			<li><%= link_to 'Open Water' %></li>
			<li><%= link_to 'Advanced Open Water' %></li>
			<li><%= link_to 'Navigation' %></li>
			<li><%= link_to 'Search and Recovery' %></li>
		</ul>
	
		<h1>All Courses</h1>
		<ul>
			<li><%= link_to 'Open Water' %></li>
			<li><%= link_to 'Advanced Open Water' %></li>
			<li><%= link_to 'Navigation' %></li>
			<li><%= link_to 'Search and Recovery' %></li>
			<li><%= link_to 'Dive Master' %></li>
			<li><%= link_to 'Master Diver' %></li>
			<li><%= link_to 'TEC Deep' %></li>
		</ul>
	
		<h1>Other Stuff</h1>
		<ul>
			<li><%= link_to 'Contact us', new_contact_path %></li>
			<li><%= link_to 'Facebook' %></li>
			<li><%= link_to 'Twitter' %></li>
		</ul>
	
		<section id="copyright">
			<%= image_tag 'small_logo.png' %>
			<p>
				Copyright &copy; <%= Time.now.year %> <%= link_to 'Poseidon Adventures Ltd.', new_user_session_path %>
				<% if current_user %>
					<%= link_to 'Logout', logout_path, :method => :delete %>
        <% end %>
			</p>
		</section>
	</footer>
</div>