<div class="scuba_nav">
	<h1>Scuba</h1>
	<ul>
		<li class="header">Education</li>
		<li><%= link_to 'Current Classes' %></li>
		<li><%= link_to 'Certifications', certifications_path %></li>
	</ul>

	<ul>
		<li class="header">Information</li>
		<li><%= link_to 'Articles' %></li>
		<li><%= link_to 'Resources and Links' %></li>
		<li><%= link_to 'Newsletters', newsletters_path %></li>
	</ul>

	<ul>
		<li class="header">Services</li>
		<li><%= link_to 'Equipment and Service' %></li>
		<li><%= link_to 'Travel and Vacations' %></li>
	</ul>

	<%= image_tag 'divers.png' %>
</div>