<h1>Listing sections</h1>

<table>
  <tr>
    <th>Certification</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sections.each do |section| %>
  <tr>
    <td><%= section.certification %></td>
    <td><%= section.description %></td>
    <td><%= link_to 'Show', [@certification,section] %></td>
    <td><%= link_to 'Edit', edit_certification_section_path(@certification,section) %></td>
    <td><%= link_to 'Destroy', [@certification,section], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Section', new_certification_section_path(@certification) %>
