<h1><%= @section.certification.name %></h1>

<p>
  <%= @section.description %>
</p>

<% @section.meetings.each do |meeting| %>
	<p>
		<%= link_to meeting.description, meeting %>
		<%= link_to '[Edit]', edit_meeting_path(meeting) %>
		<%= link_to '[Destroy]', meeting, :method => :delete, :confirm => 'Are you sure?' %>
	</p>        
<% end %>


<%= link_to 'Add a Meeting to this Class', new_meeting_path( :section_id => @section ) %> |
<%= link_to 'Edit this Class', edit_certification_section_path(@certification,@section) %> |
<%= link_to "Back to #{@certification.name} classes", certification_sections_path(@certification) %>
