<h1>Diving Albums</h1>

<section id="albums">
    <% @albums.each do |album| %>
      <article>
        <%= link_to( image_tag( album.photos.first.image.url, :width => 90, :class => 'framed_image' ), album_photos_path(album) ) %>
        <h2><%= link_to album.title, album_photos_path(album) %></h2>

        <% if permitted_to? [:edit,:destroy], album %>
            <p>
                <%= link_to 'Edit', edit_album_path(album) %>
                <%= link_to 'Destroy', album, :confirm => 'Are you sure?', :method => :delete %>
            </p>
        <% end %>
      </article>
    <% end %>
</section>

<br />

<% if permitted_to? :new, Album.new %>
    <%= link_to 'New Album', new_album_path %>
<% end %>