<h1>Certifications</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @certifications.each do |certification| %>
  <tr>
    <td><%= certification.name %></td>
    <td><%= truncate certification.description %></td>
    <td><%= link_to 'Show', certification_sections_path(certification) %></td>
    <td><%= link_to 'Edit', edit_certification_path(certification) %></td>
    <td><%= link_to 'Destroy', certification, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<% content_for :pos2 do %>
	<div class="admin">
		<h1>Admin</h1>
		<%= link_to 'New Certification', new_certification_path %>
	</div>
<% end %>
