<% content_for :head do %>
    <%= stylesheet_link_tag 'jquery.lightbox-0.5' %>
    <%= javascript_include_tag 'jquery.lightbox-0.5.pack' %>
<% end %>


<h1><%= @album.title %></h1>

<p>
  <%= @album.description %>
</p>

<section id="album">
    <% @photos.each do |photo| %>
        <article>
            <%= link_to( image_tag( photo.image.url, :width => 90, :class => 'framed_image' ), photo.image.url, :title => photo.description ) %>
            <!--<%# link_to( image_tag( photo.image.url(:tiny) ), photo.image.url(:display), :title => photo.description ) %>-->
            <h2><%= link_to photo.title, [@album,photo] %></h2>
            <% if permitted_to? [:edit,:destroy], photo %>
                <p>
                    <%= link_to 'Edit', edit_album_photo_path(@album,photo) %>
                    <%= link_to 'Destroy', [@album,photo], :confirm => 'Are you sure?', :method => :delete %>
                </p>
            <% end %>
        </article>
    <% end %>
</section>
<br />

<%= link_to 'Back to Albums', albums_path %>
<% if permitted_to? :new, Photo.new %>
    | <%= link_to 'New Photo', new_album_photo_path(@album) %>
<% end %>
